extends layout
    
block header
  script(src='/javascripts/adventure.js')


block content     
    include modals/alert    
    include modals/winery
    if message
      div.alert.alert-success.alert-dismissible(role="alert") #{message}
        button.close(type="button" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true") &times;   
        
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand
            b #{title}

          ul.nav.navbar-nav
            li 
              a(href='/') Home
            li
              a(href='/favourites') Favourites
            li
              a(href='/logout') Logout
                
          div#searchbar
            form.navbar-form.navbar-left(role="search" method="get", action="/search")
              div.input-group
                input.form-control#query(type="text" name="input" value=result)
                span.input-group-btn
                  button.btn.btn-default(type="submit") 
                    span.glyphicon.glyphicon-search

    input#userID(type="hidden")=user                 
    div   
      div
      table.table.table-striped
        thead
          th Name
          th Type
          th Year
          th Alcohol Content
          th Winery
          th Country
          th Style
          th Varterial
          th Rating
          //th Starred
        tbody
          - for (var item in items)
            tr
              td
                a#myButton(data-toggle="modal" data-target="#myModal" data-id= items[item].id) #{items[item].wineName}
              td= items[item].type
              td= items[item].year
              td= items[item].alcoholContent + "%"
              td
                a#myButton2(data-toggle="modal" data-target="#wineryModal" data-id= items[item].wineryID) #{items[item].wineryName}
              td= items[item].country
              td= items[item].style
              td= items[item].varterial
              td= items[item].rating
              //td 
                //button(id="#starButton" class="btn btn-primary btn-mini" data-id=items[item].id) Star

      

      